<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DIPFA</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app" class="app">
  <div class="aside-section">
    <el-menu
      default-active="0"
      class="aside-menu-vertical"
      @select="selectAsideCollapse">
      <el-menu-item v-for="(menu,i) in asideMenu" :index="i+''" :key="i">
        <i class="el-icon-menu"></i>
        <span slot="title"><span>{{menu}}</span></span>
      </el-menu-item>
    </el-menu>
    
    <div class="aside-collapse">
      <el-collapse accordion v-model="currentCollapseName" @change="onCollapseChange">
        <!-- 图像调整 -->
        <template v-if="0 == selectedAsideMenu">
          <el-collapse-item title="裁剪" name="adjust-01">
            <el-button type="primary" @click="startCrop">裁剪</el-button>
            <div>
              宽度：<el-input v-model="displayCropperWidth" @change="setCropperSize"></el-input>
            </div>
            <div>
              高度：<el-input v-model="displayCropperHeight" @change="setCropperSize"></el-input>
            </div>
          </el-collapse-item>
        </template>
        
        <!-- 基本计算 -->
        <template v-if="1 == selectedAsideMenu">
          <el-collapse-item title="逻辑运算" name="compute-01[mul]">
            <el-button-group>
              <el-button v-for="(op,i) in logicOp" 
                         :key="i" 
                         @click="setCommand(op[0])" 
                         :type="command===op[0] ? 'primary' : ''" 
                         size="medium">{{op[1]}}</el-button>
            </el-button-group>
            <el-button type="primary" @click="confirmAction" size="medium">确 定</el-button>
          </el-collapse-item>
          <el-collapse-item title="算术运算" name="compute-02[mul]">
            <el-button-group>
              <el-button v-for="(op,i) in arthimaticOp" 
                        :key="i" 
                        @click="setCommand(op[0])" 
                        :type="command===op[0] ? 'primary' : ''" 
                        size="medium">{{op[1]}}</el-button>
              </el-button-group>
            </el-button-group>
            <el-button type="primary" @click="confirmAction" size="medium">确 定</el-button>
          </el-collapse-item>
          <el-collapse-item title="几何变换运算" name="compute-03">
            <el-button-group>
              <el-button v-for="(op,i) in geometricOp" 
                        :key="i" 
                        @click="setCommand(op[0])" 
                        :type="command===op[0] ? 'primary' : ''" 
                        size="medium">{{op[1]}}</el-button>
              </el-button-group>
            </el-button-group>
            <el-form class="geo-form" label-position="right" label-width="78px">
              <template v-if="command==='scale' || command==='rotate'">
                <el-form-item label="x">
                  <el-input v-model="geometricOpArgs.x" size="medium"></el-input>
                </el-form-item>
                <el-form-item label="y">
                  <el-input v-model="geometricOpArgs.y" size="medium"></el-input>
                </el-form-item>
              </template>
              <template v-if="command==='scale' || command==='translate'">
                <el-form-item :label="command==='scale' ? 'x轴缩放' : 'x平移距离'">
                  <el-input v-model="geometricOpArgs.xArg" size="medium"></el-input>
                </el-form-item>
                <el-form-item :label="command==='scale' ? 'y轴缩放' : 'y平移距离'">
                  <el-input v-model="geometricOpArgs.yArg" size="medium"></el-input>
                </el-form-item>
              </template>
              <template v-if="command==='rotate'">
                <el-form-item label="旋转角度">
                  <el-input v-model="geometricOpArgs.deg" size="medium"></el-input>
                </el-form-item>
              </template>
            </el-form>
            <el-button type="primary" @click="confirmAction(geometricOpArgs)" size="medium">确 定</el-button>
          </el-collapse-item>
        </template>

        <!-- 边缘检测 -->
        <template v-if="2 == selectedAsideMenu">
          <el-collapse-item title="边缘检测" name="edge-01">
            <el-button-group>
              <el-button v-for="(op,i) in edgeOp" 
                        :key="i" 
                        @click="setCommand(op[0])" 
                        :type="command===op[0] ? 'primary' : ''" 
                        size="medium">{{op[1]}}</el-button>
              </el-button-group>
            </el-button-group>
            <el-form class="geo-form" label-position="right" label-width="84px">
              <template v-if="['laplacian','LoG','canny'].indexOf(command) >= 0">
                <el-form-item label="滤波器大小">
                  <el-input v-model="edgeArgs.blurSize" size="medium"></el-input>
                </el-form-item>
                <el-form-item label="核大小">
                  <el-input v-model="edgeArgs.ksize" size="medium"></el-input>
                </el-form-item>
                <template v-if="command === 'canny'">
                  <el-form-item label="最低阈值">
                    <el-input v-model="edgeArgs.threshold1" size="medium"></el-input>
                  </el-form-item>
                  <el-form-item label="最高阈值">
                    <el-input v-model="edgeArgs.threshold2" size="medium"></el-input>
                  </el-form-item>
                </template>
              </template>
            </el-form>
          </el-collapse-item>
        </template>

      </el-collapse>

    </div>
  </div>

  <div class="display-section">
    <div class="img-container">
      <vue-cropper 
          v-if="inCrop"
          ref="cropper" 
          class="img-cropper" 
          :img="currentImage === null ? '' : images[currentImage]"
          :output-size="1"
          :auto-crop="true"
          :auto-crop-width="cropper.width"
          :auto-crop-height="cropper.height"
          :center-box="true"
          :info-true="true"
          :fixed="false"
          :fixed-box="false"
          @real-time="onCropperMove"></vue-cropper>
      <img v-else 
           class="current-image" 
           :class="multiInput ? 'half-width' : ''"
           :src="currentImage === null ? '' : images[currentImage]" 
           alt="">
      
      <!-- second img uploader -->
      <template v-if="currentImage!==null && multiInput">
        <div style="margin: 0 10px;">+</div>
        <el-upload
          class="second-uploader"
          action="#"
          drag
          :show-file-list="false"
          :before-upload="uploadSecondImage">
          <img v-if="secondImage" :src="secondImage" class="second-image">
          <i v-else class="el-icon-plus second-uploader-icon"></i>
        </el-upload>
      </template>
      
      <!-- action -->
      <div class="img-action" v-if="inCrop">
        <el-button type="primary" @click="confirmAction">确 定</el-button>
        <el-button @click="cancelAction">取 消</el-button>
      </div>
    </div>
    <div class="img-selector">
      <img class="img-selector-item" 
           v-for="(img,i) in images" 
           @click="switchImage(i)"
           :src="img" 
           alt="">
      <el-upload
        class="img-uploader"
        action="#"
        :show-file-list="false"
        :before-upload="uploadImage">
        <el-button size="small" type="primary">点击上传</el-button>
      </el-upload>
    </div>
  </div>

  <el-dialog
    title="提示"
    :visible.sync="dialogVisible"
    width="50%">
    <img class="result-image" :src="resultImage" alt="">
    <span slot="footer" class="dialog-footer">
      <el-button type="primary" @click="replaceResultImage">替换当前图像</el-button>
      <el-button type="primary" @click="addResultImage">添加为新图像</el-button>
      <el-button @click="dialogVisible = false">取 消</el-button>
    </span>
  </el-dialog>

</div>
</body>
<script src="/js/axios.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/element.js"></script>
<script src="/js/cropper.js"></script>
<script src="/js/index.js"></script>
</html>